<mat-form-field class="input">
  <input matInput type="password" placeholder="old password" [(ngModel)]="old">
</mat-form-field>

<br>

<mat-form-field class="input">
  <input matInput type="password" placeholder="new password" [(ngModel)]="new">
</mat-form-field>

<br>

<mat-form-field class="input">
  <input matInput type="password" placeholder="new password again" [(ngModel)]="newTwo">
</mat-form-field>

<div class="right">
  <button
    mat-raised-button
    color="warn"
    [disabled]="!(new || newTwo || old)"
    (click)="new = ''; old = ''; newTwo = ''">
    clear
  </button>

  &nbsp;

  <button
    mat-raised-button
    color="primary"
    [disabled]="new != newTwo || new === old"
    (click)="change()">
    submit
  </button>
</div>
