<mat-form-field class="input">
  <input matInput type="text" placeholder="username" [(ngModel)]="username">
</mat-form-field>

<br>

<mat-form-field class="input">
  <input matInput type="password" placeholder="password" [(ngModel)]="password">
</mat-form-field>

<div class="right">
  <button
    mat-raised-button
    color="warn"
    [disabled]="!(username || password)"
    (click)="username = ''; password = ''">
    clear
  </button>
  &nbsp;
  <button
    mat-raised-button
    color="primary"
    [disabled]="!username"
    (click)="login()">
    login
  </button>
</div>


