<mat-drawer-container class="container">
  <mat-drawer class="side-bar" mode="side" [opened]="opened">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Record A Game
          </mat-panel-title>
        </mat-expansion-panel-header>
        Record a game content.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Check Expectation
          </mat-panel-title>
        </mat-expansion-panel-header>
        Check expectation content.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Register
          </mat-panel-title>
        </mat-expansion-panel-header>
        Register content.
      </mat-expansion-panel>
    </mat-accordion>

  </mat-drawer>
  <mat-drawer-content class="main" style="display: flex">
    <button mat-button (click)="opened = !opened">
      {{ opened ? '<' : '>' }}
    </button>

    <mat-tab-group style="flex: 1">
      <mat-tab label="Game Lookup"> Game Lookup </mat-tab>
      <mat-tab label="High Scores"> High Scores </mat-tab>
      <mat-tab label="Seasonal Scores"> Seasonal Scores </mat-tab>
      <mat-tab label="Score Graph"> Score Graph </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
