.side-bar {
  width: 300px;
}

.container {
  height: 100%;
}

.middle {
  text-align: center;
}

img {
  width: 100%;
  border-radius: 10px;
}

.main {
  display: flex
}

.grow {
  flex: 1;
}

.margin {
  margin: 10px;
}
