<div *ngIf="loading" class="middle">
  <h1>Booting API...</h1>
  <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
</div>

<mat-drawer-container *ngIf="!loading && username" class="container">
  <mat-drawer mode="side" class="side-bar" [opened]="opened">
    <mat-card class="middle margin">
      <h2 (click)="showImage = !showImage">Ping Pong Tracker</h2>
      <h4>Welcome {{ username }} <button (click)="promptLogin()" matTooltip="logout" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>emoji_people</mat-icon>
      </button></h4>
      <img *ngIf="showImage" [src]="image" alt="">
    </mat-card>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Record A Game</mat-panel-title>

          <mat-icon>sports_kabaddi</mat-icon>
        </mat-expansion-panel-header>

        <app-record></app-record>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Check Expectation</mat-panel-title>

          <mat-icon>people</mat-icon>
        </mat-expansion-panel-header>

        <app-expectations></app-expectations>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>Change Password</mat-panel-title>

          <mat-icon>fingerprint</mat-icon>
        </mat-expansion-panel-header>

        <app-password-changer [username]="username"></app-password-changer>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content class="main">
    <button mat-button (click)="toggle(); chart.delayRender()">
      <mat-icon>{{ opened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
    </button>

    <mat-card class="grow margin">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="High Scores">
          <app-highscores></app-highscores>
        </mat-tab>

        <mat-tab label="Game Lookup">
          <app-lookup></app-lookup>
        </mat-tab>

        <mat-tab label="Score Graph">
          <app-score-chart #chart></app-score-chart>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
