<div class="custom-control">
  &nbsp;

  <button mat-raised-button (click)="getAll()">refresh data</button>

  &nbsp;

  <button mat-raised-button (click)="renderList()">reset</button>

  &nbsp;

  <mat-form-field class="player">
    <mat-label>focus on player</mat-label>

    <mat-select [(value)]="selected" (selectionChange)="focus()">
      <mat-option *ngFor="let name of names" [value]="name">{{ name }}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div id="chartContainer" class="chart"></div>
