<div class="custom-control">
  <br/>
  &nbsp;

  <button mat-raised-button color="warn" (click)="getAll()">refresh data</button>

  &nbsp;

  <button mat-raised-button color="primary" (click)="renderList()">reset</button>

  &nbsp;

  <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">Focus on Player</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let name of names" (click)="focus(name)">{{ name }}</button>
  </mat-menu>

</div>

<div id="chartContainer" class="chart"></div>
