:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.body {
  flex: 1;
  overflow: auto;
}

table {
  width: 100%;
}

mat-form-field {
  margin: 5px;
  width: 200px;
}

.margin {
  margin: 5px;
}

.center {
  text-align: center;
}

.win {
  background: green;
}

td {
  text-align: center;
}
th {
  text-align: center;
}

.right {
  text-align: right;
}
.grow {
  flex: 1;
  margin-left: 10px;
  vertical-align: center;
}

.flex {
  display: flex;
}
.buttons {
  text-align: right;
}
.player {
  width: 170px;
}
.score {
  width: 70px;
}
h3 {
  text-align: center;
}
.bottom-margin {
  margin-bottom: 10px;
}
